.App {
  text-align: left;
  height: 100%;
  overflow: hidden;
  min-height: 99vh;
}

.App-header {
  background-color: #ecf0f8;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  left: 10px;
  min-height: 3vmin;
  pointer-events: none;
  /* animation: App-logo-spin infinite 20s linear; */
}
.App-locale {
  position: absolute;
  right: 50px;
  height: 4vmin;
  min-height: 4vmin;
}
.App-info {
  position: absolute;
  right: 10px;
  min-height: 4vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
}
::-webkit-scrollbar-thumb {
  background: rgb(177, 172, 172);
  outline: 1px solid #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

input[name="editable"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
input[name="editable"]::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
input[name="editable"]:-moz-placeholder { /* Firefox 18- */
  color: black;
}
input[name="editable"]:-ms-input-placeholder { /* IE 10+ */
  color: black;
}

ul.tree-root {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.tree-branch {
  list-style-type: none;
}
ul.tree-expand {
  list-style-image: url('./assets/icon-expand.png');
}
ul.tree-collapse {
  list-style-image: url('./assets/icon-collapse.png');
}

img.tree-expand {
  padding-right: 10px;
  content:url('./assets/icon-expand.png');
}
img.tree-collapse {
  padding-right: 10px;
  content:url('./assets/icon-collapse.png');
}
img.tree-empty {
  padding-right: 10px;
  content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAE0lEQVR42mNkIAIwjioaVURvRQAbUQATdD2joQAAAABJRU5ErkJggg==);
}


.vertical-align {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.horizontal-align {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.flex-horizontal-align {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.hrline {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.drawer {
    flex-shrink: 0;
    min-width: 240px;
}
.drawerPaper {
    width: 37%;
    min-width: 240px;
}

.select-editable {
  position:relative;
  width:120px;
  height:22px;
  background-color:white;
  border:solid #ced4da 1px;
  border-radius:2px;
  box-sizing: border-box;
}
.select-editable select {
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  font-size:14px;
  border:none;
  margin:0;
}
.select-editable select:focus, .select-editable input:focus {
  outline:none;
}

.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.helptext {
  text-align: center;
  color:white;
  background-color:#757575;
  border: 1px solid rgb(227,227,227);
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
  line-height: 1;
}

.react-chatbot-kit-chat-container { 
  width: calc(100% - 16px) !important;
  margin: 8px;
}
.react-chatbot-kit-chat-inner-container {
  height: calc(100vh - 60px) !important
} 
.react-chatbot-kit-chat-message-container {
  height: calc(100% - 16px) !important;
} 
.react-chatbot-kit-chat-bot-message {
  width: auto !important;
  margin-left: 12px !important;
}
.react-chatbot-kit-chat-input-container {
  display: none !important;
}

.ImageViewer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
  
  
