.tg  {border-collapse:collapse;border-spacing:0;margin:auto;
        overflow: hidden auto;max-height:300px;min-width:240px;}
.tg tr{text-align:center;vertical-align:top}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:rgb(194, 68, 68);}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:4px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:rgb(150, 54, 54);}

.backdropStyle{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-Color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modalStyle{
      background-Color: #fff;
      border-radius: 5px;
      max-width: 500px;
      min-height: 230px;
      margin: 0 auto;
      padding: 30px;
}

.spacer{width:60px;}

.pagelist{position: absolute; top: 80px;}

.pagetable{position: fixed; top: 200px; right: 100px;}

.menuItems{margin: auto 10px; }

.box{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(227,227,227);
    border-radius: 8px;
}

.chip{
    margin: 4px;
}

.listSubheader{
    background-color: darkgray;
    font-size: 1rem;
    font-weight: bold;
}

.waitlabel {
    display: flex;
    align-items: center;
    width: 272px;
    height: 48px;
    padding: 8px 12px;
    background-Color: rgba(255,255,255,1);
    border-radius: 8px;
  }

#toolbox {
    width: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 2px;
    margin: 4px;
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden auto;
}

@media only screen and (max-height: 750px) {
    /* body {
      background-color: lightblue;
    } */
    #toolbox {
        width: 72px;
        
    }
  }

  abbr[title] {
      text-decoration: none;
  }